{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Varification</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="{% static 'assets/css/themes/lite-purple.min.css' %}" rel="stylesheet">
</head>
<div class="not-found-wrap text-center">
    <h1 class="text-60">Sent</h1>
    <p class="text-36 subheading mb-3">Varification</p>
    <p class="mb-5 text-muted text-18">Email activation link send to your email.</p><a class="btn btn-lg btn-primary btn-rounded" href="/">Go back to home</a>
</div>