{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin </title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="{% static 'assets/css/themes/lite-purple.min.css' %}" rel="stylesheet">
</head>
<div class="auth-layout-wrap" style="background-image: url({% static 'assets/images/photo-wide-4.jpg' %})">
    <div class="auth-content">
        <div class="card o-hidden">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-4">
                        <div class="auth-logo text-center mb-4"><img src="{% static 'assets/images/logo.png' %}" alt=""></div>
                        <h1 class="mb-3 text-18">Password Change</h1>
                        <form action="" enctype='multipart/form-data' method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label for="username">Old Password</label>
                                <label>Username</label>
                                {{ form.old_password }}
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="form-group">
                                <label for="password">Re-Password</label>
                                {{ form.new_password2 }}
                            </div>
                            <button class="btn btn-rounded btn-primary btn-block mt-2">Submit</button>
                        </form>
                        <div class="mt-3 text-center">
                            <a class="text-muted" href="/accounts/login"><u>Login?</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>